<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Personel Loan">
    <classes>
      <class name="TestNG.Sample1"/>
      <class name ="TestNG.Sample2"/>
    </classes>
  </test> 
  <test name = "CarLoan">
  <classes>
  <class name ="TestNG.Demo4">
  	<methods>
  	   <exclude name="Mobile.*"></exclude>
  	</methods>
  
  </class>
  </classes>
  </test>
  <test name = "HomeLoan">
  <classes>
  <class name ="TestNG.Sample4"/>
  </classes>
  </test>
  <!-- Test -->
</suite> <!-- Suite -->
